.game-container {
  align-items: center;
  background: grey;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.game-title {
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding-bottom: 1%;
  padding-top: 4%;
  text-shadow: 0 0 3px #000, -1px -1px #000, 1px 1px #000;
}
.instructions {
  padding-top: 25px;
}
.game-area {
  display: grid;
  grid-template-columns: repeat(30, auto);
  height: 600px;
  position: relative;
  width: 600px;
}
.game-tile {
  background-color: lightgrey;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  height: 18px;
  margin: 1px;
  position: relative;
  width: 18px;
}
.snake-tile {
  background-color: black;
}
.fruit-tile {
  background-color: red;
}
